body {
    background: darkslateblue;
}

.imgBox {
    background-image: url('image.jpg');
    position: relative;
    top: 6px;
    left: 5px;
    height: 170px;
    width: 170px;
    cursor: pointer;
}

.whiteBox {
    display: inline-block;
    height: 180px;
    width: 180px;
    margin: 10px;
    background-color: white;
    border: 3px black solid;
}

.hold {
    border: 3px red solid;
}

.hide {
    display: none;
}

.dashed {
    background: rgb(184, 180, 184);
    border-style: dashed;
}